# Build folders
build-*/

# QT Creator Files
*.creator.user*
*.pro.user*
*.pyqtc.user*
*.qbs.user*
*.qmlproject.user*
CMakeLists.txt.user*
/share/qtcreator/examples/
/share/qtcreator/externaltools/
/share/qtcreator/fonts/
/share/qtcreator/generic-highlighter/
/share/qtcreator/qmldesigner/QtProject/
app_version.h
phony.c

# Ignore User Files except for the pro file
IntelliPhoto.*
!IntelliPhoto.pro

# macOS Environment Files
.DS_STORE
